:root {
  --Primary--DarkBrown: hsl(40, 70%, 45%);
  --Primary--LightBrown: hsl(36, 55%, 85%);
  --Neutral--MediumBrown: hsl(40, 93%, 11%);
  --Neutral--AccentBrown: hsl(40, 50%, 56%);
}

.App {
  display: flex;
  height: 100%;
  width: 100vw;
  background-color: var(--Primary--DarkBrown);
}

.test {
  background-image: url("./image/clock-line.png");
  background-size: 50px 50px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: .2;
}

main {
  background-color: var(--Primary--LightBrown);
  height: 100vh;
  width:90vw;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  flex: 1;
}

.control__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 20vw;
  background-color: var(--Primary--DarkBrown);
  border: none;
  color: var(--Neutral--MediumBrown);
  box-shadow: 2px 6px 12px var(--Neutral--MediumBrown);
}

.control__button:hover {
  background-color: var(--Neutral--AccentBrown);
}

.control__button:active{
  box-shadow: 2px 2px 12px var(--Neutral--MediumBrown);
  transform: translateY(4px);
}

.control__button--style {
  height: 5vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.content__timer {
  font-size: xxx-large;
  color: var(--Neutral--MediumBrown);
}

.content__message {
  color: var(--Neutral--MediumBrown);
}

.content__message::before {
  content:'"';
}

.content__message::after {
  content:'"';
}

.animation {
  position:relative;
  flex: 2;
}

.animation__animal--style {
  position: absolute;
  bottom: 10;
  height: 100px;
  right: 100px;
  top: 50px;
  opacity: 100%;
}

@media only screen and (min-width: 600px) {
  .App {
    height: 100vh;
  }
  
  main{
    height: 80%;
    width: 60%;
    margin: auto;
  }

  .control__button {
    width: 15vw;
  }

  .content__timer {
    font-size: 60px;
  }
}
